<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/neon</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Lumia@540</property>



        <!-- Automatically update the schema on startup -->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- Show SQL output in the console -->
        <property name="show_sql">true</property>



    </session-factory>
</hibernate-configuration>
